body{background-color: blue;
margin: 15rem 10rem 15rem 10rem;}
main{background-color: cornsilk;
margin: auto;}





/*Footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }